---

- name: "create root ssh directory"
  action:
    module: "file"
    path: "/root/.ssh"
    state: "directory"
  sudo: "yes"

- name: "create root private key"
  action:
    module: "copy"
    dest: "/root/.ssh/id_rsa"
    content: "{{ lookup ('etcd', ssh_root_key) }}"
    mode: "0600"
  when: "ssh_root_key is defined"
  sudo: "yes"

- name: "create ubuntu ssh directory"
  action:
    module: "file"
    path: "/home/ubuntu/.ssh"
    state: "directory"

- name: "create known hosts"
  action:
    module: "template"
    dest: "/etc/ssh/ssh_known_hosts"
    src: "ssh-client-known-hosts"
  sudo: "yes"

# ex: et ts=2 filetype=yaml
