---

- include: "control-nginx-upstart.yml"
  when: "
    system_init == 'upstart'
    and nginx_state in [ 'enabled', 'disabled' ]
  "
  tags:

    - "nginx-control-upstart"
    - "nginx-control"
    - "nginx"

- include: "control-nginx-systemd.yml"
  when: "
    system_init == 'systemd'
    and nginx_state in [ 'enabled', 'disabled' ]
  "
  tags:

    - "nginx-control-systemd"
    - "nginx-control"
    - "nginx"

# ex: et ts=2 filetype=yaml
